<ion-header>
  <ion-toolbar>
    <ion-title>list-services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="row">
    <div class="col-md-3">col-md-3
      <ul>
        <li><img src="../../assets/images/background.jpg"><p>logo</p></li>
        <li><img src="../../assets/images/fade.jpg"><p>his fade</p></li>
        <li><img src="../../assets/images/dreadlocks.jpg"><p>Dreadlocks R100</p></li>
        <li><img src="../../assets/images/Long braids.jpg"><p>Long braids R170</p></li>
        <li><img src="../../assets/images/short fade.jpg"><p>short fade R50</p></li>
        <li><img src="../../assets/images/backgroundL.png"><p>logo</p></li>
        
      </ul>
    <p>{# 3 more columns like this #}</p>
    <p>i love you</p>
  </div> -->

  <ul class="pics">
    <li>dreadlocks</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>List item 2</li>
    <li>List item 3</li>
    </ul>

</ion-content>
