<ion-header>
  <ion-toolbar>
    <ion-title>Dasboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main">
    <button  mat-button class="mat-primary primary" type="button" (click)="goto('users')">
      Staff
    </button>


    <button  mat-button class="mat-primary primary" type="button" (click)="goto('services')">
      Services
    </button>

    
    <button  mat-button class="mat-primary primary" type="button" (click)="goto('bookings')">
      Bookings
    </button>
  </div>
</ion-content>