<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="">
  <br>
  <label for="">name</label>
  <input type="text">
  <label for="">surname</label>
  <input type="text">
  <label for="">phone number</label>
  <input placeholder="+27732810712">
  <label for="">email</label>
  <input placeholder="the@gail.com">
  <label for="">password</label>
  <input placeholder="*******">
  <button>
    Register
  </button>
  <br>
  <button>
    Login
  </button>
</div>
</ion-content>
