<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{heading}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{heading}}</ion-title>
    </ion-toolbar>
  </ion-header>




  <div class="holder" *ngIf="user && user.UserId">

    <div class="summary">
      <div class="item">
        <img *ngIf="user.Dp" [src]="user.Dp" alt="" class="user-dp">
        <img *ngIf="!user.Dp" src="assets/images/common/user.svg" alt="" class="user-dp">
      </div>
      <div class="item">
        <div class="name">
          {{user.Name}} {{user.Surname}}
        </div>
      </div>
      <div class="item">

        Joined {{user.CreateDate | date: 'shortDate'}}
      </div>

      <div class="item">
        <div class="name">
          {{user.Email}}
        </div>
      </div>

      <div class="item">
        <div class="name">
          {{user.PhoneNumber}}
        </div>
      </div>

      <div class="item"  (click)="logout()">
        <div class="name">
          <!-- <span class="material-icons">
            power_settings_new
          </span> -->
          Logout
        </div>
      </div>

 
    </div>


    <button *ngIf="user.UserType == 'Customer'" mat-button class="mat-primary primary" type="button" (click)="back()">
      Back to hairstyle services
    </button>
    <button *ngIf="user.UserType == 'Admin'" mat-button class="mat-primary primary" type="button" (click)="dashboard()">
      Go to dashboard
    </button>



  </div>



</ion-content>